#root {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.jumbotron {
  background-color: rgba(255,245,210);
  margin: 2em;
}

.popup {
  position: absolute;
  top: -72%;
  left: 60%;
}

.card-footer {
  background-color: rgba(140, 169, 224, 0.05);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.read-the-docs {
  color: #888;
}


@media only screen and (max-width: 600px) {
  .popup{
    top: -82%;
    left: 62%;
  }
  .lead {
    text-align: left;
  }
}